:root{
  --main-bg:#1a8754;
}

.container{
  height: 100vh;
}

.main-bg {
  background: var(--main-bg) !important;
}

input:focus, button:focus {
  border: 1px solid var(--main-bg) !important;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: var(--main-bg) !important;
  border-color: var(--main-bg) !important;
}

.input-css::placeholder {
  font-size: 14px;
  color: rgb(182, 181, 181);
}

